.exam-lists{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.exam-list{
    display: flex;
        flex-direction: column;
        &-head{
            display: flex;
            background-color: var(--main-color);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            &-item{
                width: calc(14.3% - 1px);
                padding: 5px ;
                text-align: center;
                border-right: 1px solid #ccc;
                color: #fff;
            }
            &-item:last-child{
                border-right: none;
            }
       }
       &-body{
        display: flex;
        flex-direction: column;
        background-color: var(--white-color);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &-items {
            display: flex; 
            border-bottom: 1px solid #ccc;
            align-items: center;
        }
        &-items:last-child{
            border-bottom: none;
        }
        &-item{
            width: calc(14.3% - 1px);
            padding: 5px ;
            text-align: center;
            border-right: 1px solid #ccc;
            color: var(--black-color); 
        }
        &-item:last-child{
            border-right: none;
        } 
       }
}