.sidebar{
    z-index: 100;
    position: relative;
    &-content{
        position: fixed;
        background-color: var(--white-color);
        top: 0;
        left: 0;
        height: 100vh;
        width: 280px;
        padding: 18px 20px;
        transition: all .1s ease-in-out;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        .close-btn
       {
            svg{
                
                path{
                    stroke: var(--black-color);
                }
                font-size: 24px;
                cursor: pointer; 
            }
        }
    }
    &-content.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        box-shadow: var(--main-shadow);
        z-index: 100;
    }
    &-layout{
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
    &-layout.active{
        width: 100%; 
        background-color: rgba(17, 17, 17, 0.116);
        z-index: 99;
    }
}
.mini-sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 70px;
    background-color: var(--main-color);
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: center;  
    &-links{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    &-text{
        color: #fff;
        font-size: 13px;
        font-weight: 300;
    }
    &-link{
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius:5px ; 
        cursor: pointer;
        
        &-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            padding:3px 5px;
           
        }
        &-box.active{
            background-color: var(--bg-color);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
           .mini-sidebar-text{
            color: var(--black-color);
           } 
           .mini-sidebar-link{
            background-color: var(--bg-color);
           }
        }
        &:hover{
            background-color: var(--white-color);
            a{
                color: var(--black-color);
            }
        }
        a{
            text-decoration: none;
            color: var(--main-color);
            font-size: 18px;
            margin-top: 3px;
        }

    }
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-color);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &-right{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &-bars{
        svg{
            color: #fff;
            font-size: 28px;
            cursor: pointer;
        }
    }
    &-logo{ 
        width: 170px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        img{ 
            width: 100%;
            margin: 3px 0;
        }
    }
}

.sidebar-links{
 margin-top: 30px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 .sidebar-link.active a{
    background-color: var(--main-color);
 }
 .sidebar-link a{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    text-decoration: none;
    color: var(--black-color);
    font-size: 18px;
    &:hover{
        background-color: var(--main-color);
    }
    svg
{
        font-size: 24px;
    }
 }
}

.login-user{
    position: relative;
    &-logo{
        background-color: var(--white-color);
        height: 33px;
        width: 33px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        svg{
            font-size: 26px;
            color: var(--gray-color);
        }
    }
    &-link{
        text-decoration: none;
        color: var(--black-color);
        font-size: 16px;
        font-weight: 400;
        padding:  10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background-color: var(--white-color);
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
    &-content{
        position: absolute;
        top: 120%;
        right: 0;
        width: fit-content;
        height: fit-content;
        background-color: var(--bg-color);
        padding: 10px;
        box-shadow: var(--main-shadow);
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  &-content.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
   


}